/* Ensure the game container fits within the viewport without scrolling */
.game {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: black;
	color: white;
	overflow: hidden;
}

/* The game board should be the same size as the game container */
.game-board {
	width: calc(100vw - 250);
	height: calc(100vh );
	margin: auto;
	aspect-ratio: 4 / 3;
}

/* Paddles should be contained within the game-board without causing overflow */
.paddle {
    position: absolute;
    width: 2%; /* Width as a percentage of the game-board width */
    height: 15%; /* Height as a percentage of the game-board height */
    background-color: white;
}


/* .paddle-left {
    right: 0;
}

.paddle-right {
    right: 0;
} */



/* paddle on the left */
.paddle:nth-child(2) {
    left: 0;
}
/* paddle on the right */
.paddle:nth-child(3) {
    right: 0;
}


.ball {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
}

/* Style the score elements */
.score {
	position: absolute;
	top: 20px;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

/* score on the right */
.score:nth-child(4) {
	right: 30%; /* Moved to right side */
	text-align: right;
}

/* score on the left */
.score:nth-child(5) {
	left: 30%; /* Moved to left side */
	text-align: right;
}

/* Countdown style centered in the game board */
.countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-weight: bold;
}