.game {
	--hue: 200;
	--saturation: 50%;
	--foreground-color: hsl(var(--hue), var(--saturation), 75%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);

	background-color: var(--background-color);
	height: calc(100vh - 120px);
	width: 100%;
	position: relative;
	overflow: hidden;
}

.paddle {
	position: absolute;
	background-color: var(--foreground-color);
	width: 2%;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.ball {
	position: absolute;
	background-color: var(--foreground-color);
	width: 2.5vh;
	height: 2.5vh;
	display: none;
}

.score {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 7vh;
	color: var(--foreground-color);
	font-family: "Pong", Courier, monospace;
}

.score > * {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 15%;
	margin: 1vh 0;
	opacity: 0.3;
}

.player1Score {
	text-align: right;
	/* border-right: 0.5vh solid var(--foreground-color); */
}

.player2Score {
	text-align: left;
}

/* Countdown style centered in the game board */
.countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-weight: bold;
	font-family: "Pong", Courier, monospace;
}
