.mainFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlayButton {
    padding: 2% 4%; /* Adjust percentage as needed */
    font-size: 2vw; /* Font size relative to viewport width */
    margin: 2vh 0; /* Use vh for vertical spacing */
    width: 20vw; /* Width relative to viewport width */
    height: auto; 
    border-radius: 10px; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.PlayButton:hover {
    background-color: purple;
}