.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  @mixin dark {
    border: 1px solid white;
  }

  @mixin light {
    border: 1px solid black;
  }
}

.userSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  border-radius: 50%;
}