:global {
	body {
		@mixin light {
			background-color: var(--mantine-color-gray-0);
		}
	}

	a {
		color: var(--mantine-color-anchor);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.main {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr repeat(2, 15fr) 1fr;
	grid-gap: var(--mantine-spacing-xs);
	width: 100vw;
	height: 100vh;
}

.contentBlock {
	@mixin dark {
		background-color: var(--mantine-color-dark-6);
	}

	@mixin light {
		background-color: var(--mantine-color-gray-1);
	}
}

.header {
	composes: contentBlock;
	grid-area: 1 / 1 / 2 / 4;
}

.footer {
	composes: contentBlock;
	grid-area: 4 / 1 / 5 / 4;
}

.mainFrame {
	composes: contentBlock;
	grid-area: 2 / 2 / 4 / 3;
}

.channelsList {
	composes: contentBlock;
	width: 300px;
	grid-area: 2 / 1 / 3 / 2;
}

.friendsList {
	composes: contentBlock;
	width: 300px;
	grid-area: 3 / 1 / 4 / 2;
}

.rightDrawer {
	composes: contentBlock;
	width: 340px;
	grid-area: 2 / 3 / 4 / 4;
}

@media (max-width: 1200px) {
	.channelsList,
	.friendsList {
		width: 40px;
	}

	.rightDrawer {
		width: 250px;
	}
}

@media (max-width: 768px) {
	.channelsList,
	.friendsList {
		width: 40px;
	}
	.rightDrawer {
		display: none;
	}
}
