@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

a {
	color: var(--mantine-color-anchor);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0px;
	padding: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.h-100 {
	height: 100%;
}

.flex-1 {
	flex: 1;
}
