.list {
	list-style: none;
	padding-left: 8px;

	li {
		padding: 5px;
		margin-right: 16px;
		border-radius: 8px;
	}

	li:hover {
		cursor: pointer;
		@mixin light {
			background-color: var(--mantine-color-gray-3);
		}

		@mixin dark {
			background-color: var(--mantine-color-dark-4);
		}
	}
}
