.card {
	border-radius: var(--mantine-spacing-sm);
	padding: 5px;
	margin-left: var(--mantine-spacing-xs);
	width: calc(100% - var(--mantine-spacing-xs) * 2);
}

.card:hover {
	cursor: pointer;
	@mixin light {
		background-color: var(--mantine-color-gray-3);
	}

	@mixin dark {
		background-color: var(--mantine-color-dark-4);
	}
}

.displayName {
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
}
